<button id="stop-button">Stop tracking me!</button><br />
<button id="start-button">Start tracking me!</button>
<script>
  // click handlers
  var stop_butt = document.getElementById('stop-button');
  var start_butt = document.getElementById('start-button');
  stop_butt.onclick=stopWatch;
  start_butt.onclick=startWatch;

  // initialize
  var watchID = false;
  var options = {
    enableHighAccuracy: true,
    timeout: 5000,
    maximumAge: 0
  }

  // start monitoring location
  function startWatch() {
    if (watchID == false){
      watchID = navigator.geolocation.watchPosition(onSuccess, onError, options);
    }
  }

  // stop monitoring location
  function stopWatch() {
    if (watchID){
      navigator.geolocation.clearWatch(watchID);
      console.log("watchID " + watchID + " stopped.");

      // reset watchID
      watchID = false;
    }
  }

  function onSuccess(position) {
    $('#geo-show').append("<ul>");
    $('#geo-show').append("<li>New movement detected!</li>");
    $('#geo-show').append("<li>Latitude: " + position.coords.latitude + "</li>");
    $('#geo-show').append("<li>Longitude: " + position.coords.longitude + "</li>");
    $('#geo-show').append("<li>Accuracy: " + position.coords.accuracy + "</li> ");
    $('#geo-show').append("<li>Timestamps: " + position.timestamp + "</li>");
    $('#geo-show').append("</ul>");
    $('#geo-show').append("<br />");

    $.ajax({
        type: "POST",
        url: '/user_location/create.json',
        data: {
          lat: position.coords.latitude,
          lng: position.coords.longitude,
          accuracy: position.coords.accuracy,
          timestamp: position.timestamp
        },
        dataType: 'json'
      });
  }

  function onError(error){
    console.log('code: ' + error.code +
      ' | message: ' + error.message
    );
  }
</script>