<div id="controls">
  <button id="session-control">Start Tracking</button>
</div>

<script>
  // start monitoring location
  var watchID = false;
  var options = {    
    enableHighAccuracy: true,
    timeout: 5000,
    maximumAge: 0
  };
  var isReady = true;
  var markerCounter = 1;
  var userIdentifier;

  // Bind buttons
  $('#session-control').click(function(){
    // if watchID exists, stop tracking
    if (watchID){
      navigator.geolocation.clearWatch(watchID);
      console.log(watchID, "session ended.");  

      // reset watchID to false
      watchID = false;

      // update button text
      $(this).text("Start Tracking");
    }
    // otherwise, start tracking
    else {
      // start watching for movement
      watchID = navigator.geolocation.watchPosition(onSuccess, onError, options);
      console.log(watchID, "session started.");

      // set random user identifier
      userIdentifier = randomInt();
      console.log("User num:", userIdentifier);

      // update button text
      $(this).text("Stop Tracking");
    }
  });

  function onSuccess(position) {
    // only update every 30 seconds
    if (isReady){

      // reset timer
      isReady = false

      // create a new tracking point for user
      $.ajax({
          type: 'POST',
          url: '/user_locations',
          data: {
            lat: position.coords.latitude,
            lng: position.coords.longitude,
            accuracy: position.coords.accuracy,
            timestamp: position.timestamp,
            user_id: userIdentifier
          }
        });

      console.log("markerCounter:", markerCounter, "|", position.coords.latitude, position.coords.longitude);

      // prepare marker
      var markerLatlng = {lat: parseFloat(position.coords.latitude), lng: parseFloat(position.coords.longitude)};

      // var marker = new google.maps.Marker({
      //   position: markerLatlng
      // });

      // // place marker
      // marker.setMap(map);

      // center map
      map.setCenter(markerLatlng);

      // Construct the circle for each value in citymap.
      // Note: We scale the area of the circle based on the population.
      var circleOptions = {
        strokeColor: '#FF0000',
        strokeOpacity: 0.8,
        strokeWeight: 1,
        fillColor: '#FF0000',
        fillOpacity: 0.35,
        map: map,
        center: markerLatlng,
        radius: 30
      };
      // Add the circle for this city to the map.
      cityCircle = new google.maps.Circle(circleOptions);

      // increment marker counter
      markerCounter++;
      // }

      currentTime = new Date().getTime();
      console.log("Time:", currentTime, "|","Next running:",currentTime + 30000);

      // after 30 second pause, get ready to go again
      window.setTimeout(function(){
        isReady = true;
      }, 30000)
    }
  }

  function onError(error){
    console.log('code: ' + error.code +
      ' | message: ' + error.message
    );
  }

  function randomInt(){
    // generate random user identifier
    var randomNum = Math.floor(Math.random()*2147483648);
    var randomVal = Math.random();

    // randomly assign negative value
    if (randomVal > .5){
      randomNum = randomNum * -1;
    }

    return randomNum;
  }
</script>