<!DOCTYPE html>
<html>
<head>
  <title>PostSpiro</title>
  <%= stylesheet_link_tag    'application' %>
  
  <%= javascript_include_tag 'application' %>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

  <%= csrf_meta_tags %>
</head>
<body>

	<%= yield %>

</body>
</html>
